<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Event Remainder</h4><br>
            <form (ngSubmit)="save()">
            <input type="text" placeholder="Enter Date"   class="text" [(ngModel)]="edate" name="date" ><br><br>
         

            <input type="text" placeholder="Enter Event" class="text" name="event" [(ngModel)]="edetails"><br><br>
           
            <input type="submit" value="Save"  class="button butefct"><br><br>
            <input type="button" value="View Event" (click)="view()" class="button butefct"><br>
            </form>    
            
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
