<form>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <h1>Event History</h1><br>
                    <table>
                        <thead>
                            <tr>
                                <th>Edate</th>
                                <th>Edetails</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
