<form>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <h1>Event History</h1><br>
                    <table>
                        <thead>
                            <tr>
                                <th class="date">Date</th>
                                <th class="details">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let result of results">
                                <td>{{result["edate"]}}</td>
                                <td>{{result["edetails"]}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
