<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Event Remainder</h4><br>
            <form>
           
            <input type="button" value="Add Event"  class="button butefct"><br><br>
            <input type="button" value="View Event"  class="button butefct"><br>
            </form>    
            
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
