<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Event Remainder<br>
                <h5>Register Form</h5></h4>
            <form>
            <input type="text" placeholder="Username"  class="text" name="uname"  ><br><br>
           

            <input type="text" placeholder="User Id"  class="text" name="Id" ><br><br>
         

            <input type="password" placeholder="password" class="text" name="pswd" ><br><br>
           
            <input type="button" value="Register" class="button butefct"><br>
            <a routerLink="">Login</a>
            </form>    
            
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
